.nav {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
    font-size: 20px;
}

/* Responsive */
/*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .nav {background: red;}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}